html, body{
	margin: 0;
}
header{
	background-color: #e6ffe6;
	padding: 25px;
	text-align: center;
}
h1{
	font-size: 48px;
	font-family: "Arial Black", Gadget, sans-serif;
	color: #505a79;
	margin: 0;
}
header img {
max-width: 150px;
border-radius: 100px;
border: 25px solid #f2a01f;
}

h2{
	color: #505a79;
}

.content{
	max-width: 530px;
	margin: 0 auto;
	padding: 0 20px;
}

img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 16px;
	color:lightgrey;
	font-style:italic;
	margin-top: 8px;
	margin-bottom: 16px;
}

ul{
	list-style:none;
	padding: 0;
	margin: 0;
}

a{
	color: #505a79;
	text-decoration: none;
}

footer{
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #a3b797;

}
footer ul{text-align: center;
}

footer ul li {
	display: inline-block;
	margin: 0 5px;
	font-size: 13px;
}

.content ul {
	margin-bottom: 15px;
}